PHX_SERVER=true
PHX_HOST=dosey.dk
PORT=4000
DATABASE_URL=replace-with-managed-postgres-connection-string
DATABASE_CA_CERT_PATH=/etc/dosey/postgres-ca.crt
SECRET_KEY_BASE=replace-with-output-from-mix-phx-gen-secret
